.events-page ul {
    background-color: #48EDDD;
}

.th, td {
    text-align: start;
}

.create-btn {
    float: right;
}

.right-btn {
    float: right;
    margin-left: 10px;
}

.success {
    background-color: #28a745;
    color: #fff;
}

.danger {
    background-color: #c82333;
    color: white;
}

.left-btn {
    float: left;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

fill-height {
    height: 100vh;
}

.v-alert {
    border-radius: 4px;
}

.v-card {
    border-radius: 8px;
}

.text-h2 {
    color: #2196F3;
}

.v-btn {
    border-radius: 4px;
}

.nav-link {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-link.router-link-exact-active {
    color: #3d3737;
}