.events-page ul {
    background-color: #48EDDD;
}

.th, td {
    text-align: start;
}

.create-btn {
    float: right;
}

.right-btn {
    float: right;
    margin-left: 10px;
}

.success {
    background-color: #28a745;
    color: #fff;
}

.danger {
    background-color: #c82333;
    color: white;
}

.left-btn {
    float: left;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

